rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /encounter-photos/{category}/{filename} {
      allow read;
      allow write: if false;
    }

    // Default deny for all other paths
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
